.container{
    max-width: 100%;
}
.background{
    height:100%;
    display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(0px);
	z-index: -1;
}
.body_login {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
}
#mcard{
    margin-top: 7%;
    padding: 0px;
    max-width:350px
}

#bcard{
    padding: 3%;
    height: 100%;
}


.effect:hover{
    box-shadow: 5px 5px 5px black;
}


.auth-user-testimonial {
	bottom: 3rem;
	left: 0;
	margin: 0 auto;
	padding: 0 1.75rem;
	position: absolute;
	right: 0;
  }

.alert {
	border: 1px solid transparent;
	border-radius: .25rem;
	margin: 1rem;
	padding: .75rem 1.25rem;
	position: relative;
  }